body {
  background-color: lightgrey;
  font-family: Cambria, "Hoefler Text", Utopia, "Liberation Serif", "Nimbus Roman No9 L Regular", Times, "Times New Roman", serif;
  /* font-family: "Arial Black", Helvetica, sans-serif; */
  font-size: 1.3vw;
  color: black;
}

h1 {
  font-size: 1.2em;
  text-align: left;
}

p{
padding-right: 5em;
width: 90%;
padding-left: 5em;
}


#header {
  background-color: red;
  width: 50%;
  position: absolute;
  top: 3em;
  height: 2em;
}

#formsection {
  top: 5em;
  position: absolute;
  width: 50%;
  background-color: purple;
  resize: none;
  /* display: inline-block; */
  /* resize: none; */
}

fieldset, label, header {
  padding-left: 5em;
  width: 90%;
  height: 4em;
}

.inputfirst{
  text-align: left;
  width:8em;
  padding-left: 4em;
  padding-right: 4em;
}

.inputnext{
  width: 32.365em;
}

.inputlast{
  width: 32.555em;
}

form {
  padding-top: 2em;
}

/* .inputlast{
  width: 91%;
} */

/* .videos iframe {
	/* position: absolute;
	top: 0;
	left: 0; 
	width: 20em;
    height: auto;
    object-fit: contain;
} */

iframe {
  width: 94%;
  height: 20em;
  object-fit: contain;
  padding-left: 1em;
  padding-right: 1em;
}

#videos {
  position: absolute;
  background-color: green;
  margin-left: 40%;
  width: 50%;
  right: 0;
  min-height: 100%;
  object-fit: contain;
  padding-top: 3em;
  overflow: auto;
}

@media only screen and (max-width: 480px) {
  body {
    background-color: lightblue;
  }
}

/* 
  @media screen and (min-width : 900px) {
    #header{

    }
 
    body{
        border-left: 250px solid #cccccc;
    }
} */